*.pt filter=lfs diff=lfs merge=lfs -text
models/dynunet_FT.ts filter=lfs diff=lfs merge=lfs -text
models/dynunet_FT.pt filter=lfs diff=lfs merge=lfs -text
models/A100/dynunet_FT_trt_16.ts filter=lfs diff=lfs merge=lfs -text
